
/* Style the list */
.price {
    list-style-type: none;
    margin:20px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    padding-left: 0px;
    min-width: 180px;
}

.basic-border {
    border: 1px solid grey;
}

.highlighted-border {
    border: 1px solid #f44336;
}

/* Add shadows on hover */
.price:hover {
    margin-top: 10px;
}

/* Pricing header */
.price .highlighted-header {
    background-color: #f44336;
    color: white;
    font-size: 25px;
}

.price .basic-header{
  background-color: #f8f9fa;
  color: grey;
  font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 5px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
    margin-bottom: 0px;
}

/* The "Sign Up" button */
.button {
    background-color: #f44336;
    color: white;
    margin-top: 10px;
}
